///////////////////////////////////////////////////////////////////////////////////////////////
//  
//  File Name:      client-examples/terraform.tfvars
//  Created By:     Patrick Gryzan, patrick.gryzan@gmail.com
//  Date:           03/01/19
//  Comments:       This file defines the terraform input variables
//  
///////////////////////////////////////////////////////////////////////////////////////////////

//  Fill this information in to use the Azure platform. (Required for the Azure Example)
azure               = {
    subscription_id = ""
    tenant_id       = ""
    client_id       = ""
    client_secret   = ""
    region          = ""
}

//  Fill this information in to use the vSphere platform. (Required for the vSphere Example)
vsphere {
    user                    = ""
    password                = ""
    server                  = ""
    allow_unverified_ssl    = true
    datacenter_name         = ""
}

//  Used to access the Windows Server 2016 instance in Azure. (Required for the Azure Example)
//  Azure will not allow you to use the "Admin" or "Administrator" user.
windows             = {
    username        = "windows"
    password        = "MyMad3UpP@ssw0rd!"
}

//  Fill this in to enable Habitat (Optional)
hab                 = {
    origin          = ""
    auth_token      = ""
}